*{
    box-sizing: border-box;
 }
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
 }
 header {
    /* padding: 20px; */
    color: white;
    display : inline;
    /* width : 100%; */
    /* position: fixed; */
    /* background-color: #00a2c6; */
 }
 .atas .kiri div a {
    font-size: 17px;
 }
 main{
     min-height: 550px;
 }
 footer{
    display: flex;
    background : #434343;
    justify-content: space-between;
    height: 400px;
 }
 .kiri a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
 }
 .kiri a:hover {
    font-weight: bold;
 }
 .kiri li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
    /* position: fixed; */
 }
 .kiri{
    width :60%;
    /* display : flex; */
    background-color: #434343;
    padding: 5px;
    /* position: sticky;
    top:0; */
 }
 .kiri2{
    width :80%;
    /* display : flex; */
    background-color: #434343;
    padding: 5px;
    /* position: sticky;
    top:0; */
 }
 .kiri div{
    background:#434343;
    width : 30%;
    border-radius: 7px 5px 0 0;
    text-align: center;
 }
 .kiri div a{
    color:white;
    text-decoration: none;
    line-height: 60px;
    display:block;
}
.kiri a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
 }
 .atas .kiri{
    background :#434343;
    width :35%;
    display : flex;
    justify-content: space-between;
    align-items: flex-end;
}
.atas .kiri div{
    background:#434343;
    width : 35%;
    border-radius: 7px 5px 0 0;
    text-align: center;
}
.atas .kiri2{
    /* background :#a33b3b; */
    width :110%;
    display : flex;
    justify-content: space-between;
    align-items: flex-end;
}
.atas .kiri2 div{
    background:#434343;
    width : 100%;
    border-radius: 7px 5px 0 0;
    text-align: center;

}
.kiri2 div a, .kiri div a{
    color:white;
    text-decoration: none;
    line-height: 60px;
    display:block;
}
.atas .kiri div :hover{
    /* background:#302f2f; */
    
}
.atas .kiri2 div :hover{
    /* background:green; */
    background:#302f2f; 
}
.atas .kiri .dropdown{
    background:#434343;
    width : 40%;
    border-radius: 7px 5px 0 0;
    text-align: center;
}






.kosong{
    width: 10px;
}
 .kanan{
    width: 60%;
    display: flex;
    justify-content: flex-end;
    text-align: center;
    align-items: center;
    position: sticky;
    top : 0;
    background: #434343;
    /* color: white; */
}
.kanan div{
    background:#818181;
    border:1px solid white;
    border-radius:5px;
}
button{
    background:#434343;
    /* width : 100%; */
    /* border-radius: 20px; */
    padding: 10px;
    /* font-size: 40px; */
    cursor: pointer;
    display: block;
    color: white;
}
.kanan .dropdown{
    
    display :flex;
    justify-content: flex-end;
    /* align-items: flex-end; */
}
.dropdown ul li a{
    align-items: center;
    display :block;
    text-decoration: none;
}
.dropdown ul{
    border:2px solid black;
    background: #434343;
    position: absolute;
    padding : 0;
    list-style:none;
    text-align: center;
    transform: perspective(1000px) rotatex(-90deg);
}
.dropdown ul li a:hover{
    background:black;
    font-weight: normal;

}
ul.active{
    transform: perspective(1000px) rotatex(0deg);
}
.kanan div a{
    color:white;
    text-decoration: none;
    padding : 10px;
    display:block;
}
/* .palingatas{
    background: #434343;
    height:50px;
} */
.atas {
    /* display: inline; */
    position: sticky;
    top : 0;
    display: flex;
    justify-content: space-between;
    background:#434343;
}




.bawahkiri{
    display: flex;
    align-items: center;
    /* justify-content: center; */

}
.insta{
    margin : -2px 0 0 10px;
    width:80px;
    
}
.manuk{
    margin : -2px 0 0 -40px;
    width:115px;
    height:80px;
}
.bawahkiri a{
    text-decoration: none;
    color:white;
}
.sosmed{
    /* margin: 90px 0 0 10px; */
    padding: 30px 10px 0px 30px;
    color:white;
    font-size: 19px;
    font-weight: bold;
}





.jdwl,.kll,.kll1{
    margin : 50px auto;
    width : 1250px;
}
.jdwl td, .jdwl th{
    height: 40px;
}
/* .jdwl h1{
    margin : 100px auto;
} */
table{
    text-align: center;
    /* align-self: center; */
}
.atastab{
    display: flex;
    justify-content:space-between ;
    margin : 0 0 10px 0;
}
.tgl{
    /* display:block; */
    font-weight: bolder;
}
.atastab div label{
    font-weight: bold;
}
.tombolpesan{
    margin:10px 0 0 1160px;
    padding : 5px;
    background: rgb(226, 223, 223);
    text-align: center;
    width: 90px;
    cursor:pointer;
    border : 1px solid black;
}
.tombolpesan a, .carpes a{
    display:block;
    text-decoration: none;
    color : black;
}
.tombolpesan:hover{
    font-weight: bolder;
    background:rgb(196, 192, 192) ;
}
.carpes:hover{
    font-weight: bolder;
}




.psn{
    margin : 30px auto;
    width : 1050px;
    
    
}
.saldo{
    
    margin: 0 0 0 950px;
}
.kotakpesan{
    background: rgb(223, 218, 218);
    padding : 20px;
    height: 400px;
}
.kotakpesan pre{
    
    padding: 15px;
    font-size: 15px;
}
/* .tlpesan{

} */
.kotakpesan div{
    margin : 0 0 0 170px;
}
.ijo{
 background: greenyellow;
 font-size: 15px;
}
.merah{
background: red;
font-size: 15px;
}





.Prof{
    padding: 20px;
    width: 1200px;
    margin: 50px 0 0 50px;
    font-size: 25px;
}
.Prof div img{
    width: 150px;
    height: 150px;  
}
.head{
    width : 950px;
    display: flex;
    justify-content: space-between;
}
.ID{
    /* width:200px; */
    display: flex;   
    /* justify-content: space-between; */   
}
.ID pre{
    margin: 20px 0 0 -320px;
}
.Prof a{
    margin : 0 0 0 600px;
    padding:0;
    display: block;
    cursor: pointer;
    text-decoration: none;
    color:black;
    background: rgb(221, 221, 221);
    width : 100px;
    text-align: center;

}
.Prof a:hover{
    font-weight: bolder;
}
.datdir{
    margin: 0;
    padding:0;
    background: rgb(206, 206, 206);
    min-height: 150px;
}





/* Kelola Kelola */
.abu{
    background: rgb(211, 210, 210);
}
.kll1 div, .kll div{
    background:rgb(54, 228, 1);
    padding: 2.5px;
    cursor: pointer;
    width: 130px;
    text-align: center;
}
.kll1 div a, .kll div a{
    text-decoration: none;
    color: white;
}
a.ubah{
    background:rgb(54, 228, 1);
    text-decoration: none;
    color:white;
    padding: 4px;
}
a.hapus{
    background:red;
    text-decoration: none;
    color:white;
    padding: 4px;
}
.kll div:hover{
    font-weight: bolder;
}
.kll1 div:hover{
    font-weight: bolder;
}
a.hapus:hover{
    font-weight: bolder;
}
a.ubah:hover{
    font-weight: bolder;
}
.kll td{
    height: 40px;
    min-width: 200px;
}
.kll1 td{
    height: 40px;
    min-width: 175px;
}
.kll1 th, .kll th{
    height: 40px;
}


.ubahtrans{
    text-decoration: none;
    color : white;
    background: red;
    padding: 4px;
}
.simpan{
    background: rgb(60, 255, 42);
    color: white;
    padding : 10px;
    font-size: 17px;
}
.batal{
    background: red;
    color: white;
    padding : 10px;
    font-size: 17px;
    text-decoration: none;
}



.kll-atas{
    display: flex;
    justify-content: space-between;
}
.kll .kll-atas{
    width : 670px;
    background: none;
}
pre{
    font-size: 21px;
}


.logout{
    margin: 300px auto;
    text-align: center;
    font-size: 22px;
    color: red;
    border-radius: 10px;
    border: 1px solid black;
}
.popup{
    color: red;
    font-weight: bold;
}




.gmr{
    width : 125px;
    height : 60px;
    border-right:2px solid white;
}

.peta{
    padding : 20px;
}
.peta div{
    margin : 10px 0 0 0;
}
.peta div label{
    /* text-align: center; */
    padding: 0px 0px 0px 170px;
    /* line-height: 20px; */
    color:white;
    font-size: 19px;
    font-weight: bold;
}
.peta img{
    margin : 20px 0 0 0;
    width: 400px;
}
.logo2{
    /* width : 10px; */
    margin : 0 0 0 200px;
    text-align: center;
    color:rgb(185, 184, 184);
    /* background: red; */
}
.logo2 img{
    
    width : 350px;
    height: 170px;

}